#artista_bandas_mais_visitadas, #cds_mais_comprados, #dvds_mais_comprados{
  margin-top: 3px;
  border: 1px solid black;/*somente para teste.*/
}

main, aside, footer{
  margin-top: 3px;
}

#generos, #artista_banda{
  margin-bottom: 5px;
}

li .card{
  margin: 1px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}