html{
  overflow-y: scroll;
}

html, body{
  height: 100%;
}

main, aside, footer{
  margin-top: 3px;
}

main{
  position: relative; 
}

#generos, #albuns{
  margin-bottom: 5px;
}

#generos_mais_visitados, #cds_mais_comprados, #dvds_mais_comprados{
  margin-top: 3px;  
  /*border-bottom: 1px solid #eee;*/
}

li .card{
  margin: 1px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}