html, body{
    height: 100%;
}

body{
  overflow-y: scroll;
}

main{
  height: 60%;
}

header, aside, footer{
  height: 10%;
}

main, aside, footer{
  margin-top: 3px;
}

#generos, #artista_banda{
  margin-bottom: 5px;
}

#generos, #artista_banda{
  height: 35%;
}

#destaque div{
  height: 100%;
  border: 1px solid black;/*somente para teste.*/
}

#artista_bandas_mais_visitadas, #cds_mais_comprados, #dvds_mais_comprados{
  margin-top: 3px;  
}

#destaque{
  height: 59%;
}

li .card{
  margin: 1px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}